<ion-content [fullscreen]="true">

  <div class="bloc_header">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="bg-img" [ngStyle]="{'background-image': 'linear-gradient(rgb(0 0 0 / 55%), rgb(0 0 0 / 88%)), url('+ currentAlbum.pochette +')'}" >
    <ion-card>
      <img src={{currentSon.pochette}} alt="" srcset="">
      <div class="tags">
        <p>{{currentAlbum.auteur}}</p>
        <p>{{currentAlbum.annee}}</p>
      </div>
    </ion-card>
    <p class="green">{{currentSon.titre}}</p>


    <ion-range min="0" max={{duration}} color="primary" value={{currentValueDuration}}
      (ionChange)="rangeChange($event)">
      <ion-label slot="start">{{minInit}}:{{secInit}}</ion-label>
      <ion-label slot="end">{{min}}:{{sec}}</ion-label>
    </ion-range>


    <div class="flex_box">
      <ion-button shape="round" fill="clear" (click)="previewSon()">
        <ion-icon slot="icon-only" name="play-back"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="pauseSon()" fill="clear" class="buttonPause">
        <ion-icon slot="icon-only" name="{{pauseIcon}}"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="clear" (click)="nextSon()">
        <ion-icon slot="icon-only" name="play-forward"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="clear" (click)="stopSon()">
        <ion-icon slot="icon-only" name="stop"></ion-icon>
      </ion-button>
    </div>

    <div class="flex_box2">
      <ion-button shape="round" fill="clear" (click)="volMoin()">
        <ion-icon slot="icon-only" name="volume-low-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="clear" (click)="mute()">
        <ion-icon slot="icon-only" name="volume-{{muteIcon}}-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="clear" (click)="volPlus()">
        <ion-icon slot="icon-only" name="volume-medium-outline"></ion-icon> 
      </ion-button>
      <ion-button shape="round" fill="clear" (click)="repete()">
        <ion-icon slot="icon-only" name="repeat-outline"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>