ion-content {
    --ion-background-color: var(--ion-color-netfly-dark);
}

.bloc_header {
    position: absolute;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: end;

    ion-button {
        margin-right: 15px;
    }
}


//   ion-toolbar .toolbar-background {
//     position: absolute;
//   }

.bg-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    ion-card {
        margin-top: 60px;
    }

    .green {
        size: 40px;
        color: rgb(62, 248, 6);
        text-align: center;
    }
}


.tags {
    display: flex;
    justify-content: space-around;
}

.tags p {
    color: #9E9E9E;
    font-weight: 500;
    font-size: small;
}


.flex_box {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.flex_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;

    ion-icon {
        height: 25px;
        width: 25px;
    }
}

//   .flex_box3 {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     ion-icon {
//       height: 25px;
//       width: 25px;
//     }
//   }


ion-button {
    height: 80px;
    min-height: max-content;
    margin: -17px 0px;
    font-size: 15px;
}

ion-icon {
    color: white;
}

.hydrated {
    color: white !important;
}

.buttonPause {
    border: 2px solid white;
    border-radius: 45px;
}